html {
	background: #aaf;
}
.wrap {
	height: 600px;
	perspective: 800px;
}
.rubik {
	transform-style: preserve-3d;
	width: 330px;
	height: 330px;
	margin: 150px auto;
	position: relative;
}
.rubik > .cube {
	position: absolute;
	transform-style: preserve-3d;
}
.rubik > .cube > .face {
	height: 100px;
	width: 100px;
	border: solid #333 5px;
	border-radius: 7px;
	position: absolute;
	transition: 0;
}
.rubik .face {
	background: #555;
	backface-visibility: visible;
}
.rubik .face.c_o {
	background: #FE4701;
	backface-visibility: hidden;
}
.rubik .face.c_r {
	background: #F3071B;
	backface-visibility: hidden;
}
.rubik .face.c_y {
	background: #FFED03;
	backface-visibility: hidden;
}
.rubik .face.c_b {
	background: #1A499B;
	backface-visibility: hidden;
}
.rubik .face.c_w {
	background: #FFFEFF;
	backface-visibility: hidden;
}
.rubik .face.c_g {
	background: #009D42;
	backface-visibility: hidden;
}
h3 {
    text-align: center;
}
